@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* reset */
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
a{
  color :#2199df;
  text-decoration: unset;
}
ul{
  margin-left:1.5rem;
  list-style: none;
}

button,input[type="submit"]{
  border:none;
  background: none;
  color: unset;
  cursor: pointer;

}